<div class="container">
    <form action="/schedules" method="post">
        <h2>スケジュールを作成</h2>
        <br>
        <input class="form-control" type="text" name="date" placeholder="日づけ (例: 1月1日)"><br>
        <input class="form-control" type="text" name="time" placeholder="時間 (例: 01:02/1:2)"><br>
        <input class="form-control" type="text" name="place" placeholder="場所"><br>
        <input class="form-control" type="text" name="schedule" placeholder="スケジュール"><br>
        <input class="form-control" type="text" name="note" placeholder="備考"><br>
        <input class="form-control" type="submit" value="完了">
    </form>
</div>